<div class="container mt-5">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-3"><app-manu-items></app-manu-items></div>
        <!-- Right Column -->
        <div class="col-md-6">
            <div class="card p-3">
                <form style="padding: 20px">
                    <h4>Select Items</h4>
                    <br>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="GymGloves">
                            <label class="form-check-label" for="GymGloves">
                                Gym Gloves: <span style="color: grey">My gym gloves -  this is just the description of the item.</span>
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Towel">
                            <label class="form-check-label" for="Towel">
                                Towel: <span style="color: grey">My gym gloves -  this is just the description of the item.</span>
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Sneakers">
                            <label class="form-check-label" for="Sneakers">
                                Sneakers: <span style="color: grey">My gym gloves -  this is just the description of the item.</span>
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="Shirt">
                            <label class="form-check-label" for="Shirt">
                                Shirt: <span style="color: grey">My gym gloves -  this is just the description of the item.</span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" style="background-color: #0A2540;">Go</button>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <app-profile-card></app-profile-card>
        </div>
    </div>
</div>
