<div class="card p-3 mobile-margin-top" style="text-align: center;">
               
    <div class="container"  style="padding-top:20px; background-color: #f8f9fa;">
        <div class="container user-icon-container">
            <i class="bi bi-person me-2  user-icon"></i>
        </div>
        <!-- <h4 style="font-weight: bolder;">{{ProfileName}}</h4> -->
        <h4 style="font-weight: bolder;margin-top: 20px;">{{ProfileName}}</h4>
    </div>
    

</div>
<br>
<div class="card p-3 mobile-margin-top">
    <div class="container"  style="padding:20px; background-color: #f8f9fa;">

        <h5>What's new</h5>
        <hr>
     <p><small>Nothing....</small></p>
     <p><small>Nothing....</small></p>
     <p><small>Nothing....</small></p>
     
    </div>
  
</div>