<div class="card p-3 mobile-margin-bottom">
    <ul class="list-unstyled">
        <li>
            <button type="button" class="btn btn-light w-100 mb-2" (click)="navigate('profile')">
                <i class="bi bi-person me-2"></i>My Profile
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-light w-100 mb-2" r (click)="navigate('dashboard')">
                <i class="bi bi-house me-2"></i>Dashboard
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-light w-100 mb-2" (click)="navigate('gym-items')">
                <i class="bi bi-box me-2"></i>My Gym Items
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-light w-100 mb-2" (click)="navigate('add-item')">
                <i class="bi bi-plus-circle me-2"></i>Add New Item
            </button>
        </li>
    </ul>
</div>