@media (max-width: 767.98px) {
    .mobile-margin-bottom {
        margin-bottom: 20px;
    }
}

.btn i {
    vertical-align: middle; /* Ensures the icon is aligned with the text */
}
.btn {
    display: flex;
    align-items: center; /* Aligns the icon and text vertically in the center */
}