body {
  background-color: #F0F0F0;
}

.navbar {
  background-color: #0A2540;
  padding-left: 40px;
}


.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #f2f4f7;
  font-family: system-ui;
}


.text-primary {
  color: #e5eaf0 !important;
}

.navbar-nav .nav-item {
  padding-right: 40px;

}



.btn-primary {
  background-color: #0A2540 !important;
  border-color: #0A2540 !important;
}